.album__page__container {
  width: 80%;
}

.album__info {
  align-items: center;
  color: white;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.album__info > img {
  margin: 30px 0;
  width: 150px;
}

.music__card__container {
  background-color: #eff3f9;
  padding-bottom: 20px;
  padding-top: 50px;
}
