.loader {
  animation: animloader 0.3s 0.3s linear infinite alternate;
  background: currentColor;
  border-radius: 4px;
  box-sizing: border-box;
  color: #00d5e2;
  display: block;
  margin: 20px auto;
  height: 40px;
  position: relative;
  width: 8px;
}

.loader::after, .loader::before {
  animation: animloader 0.3s  0.45s  linear infinite alternate;
  background: currentColor;
  border-radius: 4px;
  box-sizing: border-box;
  content: '';
  height: 40px;
  left: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
}

.loader::before {
  animation-delay: 0s;
  left: -20px;
}


@keyframes animloader {
  0%   { height: 48px} 
  100% { height: 4px}
}

.loading__text {
  color: #003be5;
}